<script id="apartment-income-template" type="text/html">
	<td class='bedroom-count'>
		<div class='display'></div>
		<div class='edit'>
			<select>
              <option value='0'>0</option>
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
            </select>
		</div>
	</td>
	<td class='unit-count'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td class='square-feet'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td class='monthly-rent'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td>
		<span class='apartment-income-destroy'></span>
	</td>
</script>