<script id="parking-income-template" type="text/html">
	<td class='spaces'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td class='indoor-or-outdoor'>
		<div class='display'></div>
		<div class='edit'>
			<select>
              <option value='indoor'>indoor</option>
              <option value='outdoor'>outdoor</option>
            </select>
		</div>
	</td>
	<td class='total-square-feet'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td class='monthly-fee'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td>
		<span class='parking-income-destroy'></span>
	</td>
</script>