<script id="sec223f-acquisition-costs-template" type="text/x-handlebars-template">
	<div>
		<label for="mortgage-interest-rate">Mortgage interest rate<span class="required">*</span></label>
		<input id="mortgage-interest-rate" class="required" value={{mortgageInterestRate}}>
		<label for="purchase-price">Purchase price<span class="required">*</span></label>
		<input id="purchase-price" class="required" value={{purchasePrice}}>
	</div>
	<div>
		<label for="value">Value</label>
		<input id="value">
		<label for="repairs-or-improvements">Repairs/improvements</label>
		<input id="repairs-or-improvements">
	</div>
	<div>
		<label for="annual-replacement-reserves-per-unit">Annual replacement reserves per unit</label>
		<input id="annual-replacement-reserves-per-unit">
	</div>
	<div>
		<label for="financing-fee">Financing fee</label>
		<input id="financing-fee">
		<input id="financing-fee-percent" type="checkbox" value="true">
		<label for="financing-fee-percent">% of loan</label>
	</div>
	<div>
		<label for="replacement-reserve-on-deposit">Replacement reserve on deposit</label>
		<input id="replacement-reserve-on-deposit">
	</div>
	<div>
		<label for="initial-deposit-to-replacement-reserve">Initial deposit to replacement reserve</label>
		<input id="initial-deposit-to-replacement-reserve">
	</div>
	<div>
		<label for="major-movable-equipment">Major movable equipment</label>
		<input id="major-moveable-equipment">
	</div>
	<div>
		<label for="third-party-reports">Third party reports</label>
		<input id="third-party-reports" value={{thirdPartyReports}}>
		<label for="survey">Survey</label>
		<input id="survey" value={{survey}}>
	</div>
	<div>
		<label for="legal-and-organizational">Legal & organizational</label>
		<input id="legal-and-organizational" value={{legalAndOrganizational}}>
		<label for="other">Other</label>
		<input id="other" value={{other}}>
	</div>
	<div>
		<label for="title-and-recording">Title & recording</label>
		<input id="title-and-recording" value={{titleAndRecording}}>
		<input id="title-and-recording-percent" type="checkbox" value="true">
		<label for="title-and-recording-percent">% of loan</label>
	</div>
	
</script>