<script id="sec223f-acquisition-costs-template" type="text/x-handlebars-template">
	<div id="transaction-amount-container">
		<div id="transaction-amount-input">
			<label for="transaction-amount">transaction amount<span class="required">*</span></label>
			<input id="transaction-amount" class="required" value={{transactionAmount}}>
		</div>
		<div id='transaction-amount-type-selector'>
			<label for="purchase">purchase</label>
			<input type="radio" name="purchase-or-debt" value="purchase" id="purchase">
			<label for="debt">existing debt</label>
			<input type="radio" name="purchase-or-debt" value="debt" id="debt">
		</div>
	</div>
	<div class="costs-left costs">
		<div>
			<label for="term-in-months">term in months<span class="required">*</span></label>
			<input id="term-in-months" class="required" value={{termInMonths}}>
		</div>
		<div>
			<label for="loan-request">loan request<span class="required">*</span></label>
			<input id="loan-request" class="required" value={{loanRequest}}>
		</div>
	</div>
	<div class="costs-right costs">
		<div>
			<label for="mortgage-interest-rate">mortgage interest rate<span class="required">*</span></label>
			<input id="mortgage-interest-rate" class="required" value={{mortgageInterestRate}}>
		</div>
		<div>
			<label for="value">project value</label>
			<input id="value" class="optional" value={{value}}>
		</div>
	</div>
	<div>
		<label for="annual-replacement-reserves-per-unit">
			annual replacement reserves per unit<span class="required">*</span>
		</label>
		<input id="annual-replacement-reserves-per-unit" class="optional" value={{annualReplacementReservesPerUnit}}>
	</div>
	
	<div class="costs-left costs">
		<div>
			<label for="land-value">land value</label>
			<input id="land-value" class="optional" value={{landValue}}>
		</div>
		<div>
			<label for="third-party-reports">third party reports</label>
			<input id="third-party-reports" value={{thirdPartyReports}}>
		</div>
		<div>
			<label for="legal-and-organizational">legal & organizational</label>
			<input id="legal-and-organizational" value={{legalAndOrganizational}}>
		</div>
	</div>
	<div class="costs-right costs">
		<div>
			<label for="repairs-or-improvements">repairs/improvements</label>
			<input id="repairs-or-improvements" class="optional" value={{repairsOrImprovements}}>
		</div>
		<div>
			<label for="survey">survey</label>
			<input id="survey" value={{survey}}>
		</div>
		<div>
			<label for="other">other</label>
			<input id="other" value={{other}}>
		</div>
	</div>
	<div>
		<div class="costs-left costs">
			<div>
				<label for="financing-fee">financing fee</label>
				<input id="financing-fee" class="optional as-percent-possible-input" value={{financingFee}}>
			</div>
		</div>
		<div class="costs-right costs">
			<div class="percent-as-loan-checkbox-container">
				<input id="financing-fee-percent" type="checkbox" value="true" class="percent-of-loan-indicator">
				<label for="financing-fee-percent">% of loan</label>
			</div>
		</div>
	</div>
	<div></div>
	<div id="title-container">
	<div class="costs-left costs">
		<div>
			<label for="title-and-recording">title & recording</label>
			<input id="title-and-recording" class="as-percent-possible-input" value={{titleAndRecording}}>
		</div>
	</div>
	<div class="costs-right costs">
		<div>
			<input id="title-and-recording-percent" type="checkbox" value="true">
			<label for="title-and-recording-percent">% of loan</label>
		</div>
	</div>
	</div>
	
</script>