<script id="simple-income-source-template" type="text/html">
	<td class='use'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td class='square-feet'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td class='monthly-rent'>
		<div class='display'></div>
		<div class='edit'>
			<input type='text' value=''>
		</div>
	</td>
	<td>
		<div class="delete-container">
			<span class='simple-income-source-destroy destroy-item'></span>
		</div>
	</td>
</script>