.column

	= render :partial => "shared/inner_page_title", :locals=>{:title=>"API Access: Get a key"}	
	-if flash[:error]
		.flash.flash_error#captcha
			#{flash[:error]} 
	%p
		A key is valid for #{@current_uses} successful API requests.
	%p
		Note that during the current API beta phase, keys may be invalidated without warning.

	%form{:action=> "/api/beta1/api_keys", :method => "post"}

		= recaptcha_tags
	
		%input{:type => "submit", :value => "Send", :class => "button"}