.top
	.bottom
		#table_of_contents
			%ul
				%li
					%strong Capital Sources
					%ul
						%li
							%a{:href=>"/api/fha_overview"} FHA
				%li
					%strong API Access
					%ul
						%li
							%a{:href=>"/api/beta1/api_keys/new"} Get a key
				%li
					%strong API Documentation
					%ul
						%li 
							FHA
							%ul
								%li
									%a{:href=>"/api/beta1/documentation/sec223f_refinance"} Sec.223(f) refinance
								%li
									%a{:href=>"/api/beta1/documentation/sec223f_acquisition"} Sec.223(f) purchase
				%li
					%strong API Demos
					%ul
						%li 
							FHA
							%ul
								%li
									%a{:href=>"/api/fha_sec223f_demo"} Sec.223(f) refinance/purchase
					